$controls-height: 112px;

.player-toolbar {
  height: $controls-height;
  display: flex;
  justify-content: space-between;

  .track-info {
    width: 30vw;
    max-width: 30vw;
    display: flex;
    justify-content: flex-start;

    .track-image {
      display: flex;
      justify-content: center;
      align-items: center;
      height: calc(#{$controls-height} - 2rem);
      width: calc(#{$controls-height} - 2rem);
      object-fit: cover;
      background-color: #303030;
      border-radius: 2px;
      font-size: 1rem;
      font-weight: bold;
      color: lightgray;

      p {
        margin: 0;
      }
    }

    .track-desc {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 1rem;

      p {
        width: calc(30vw - #{$controls-height});
        margin: 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      .title {
        font-size: 1rem;
        font-weight: normal;
      }

      .artist {
        font-size: 0.8rem;
        font-weight: lighter;
      }
    }
  }

  .track-controls {
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    .controls {
      color: darkgray;
      display: flex;
      justify-content: center;

      .control-small mat-icon {
        font-size: 1.2rem;
      }

      button {
        margin: 0 0.25rem;
      }
    }

    .progress {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .time {
        font-size: medium;
        font-weight: lighter;

        &.time-current {
          margin-right: 0.5rem;
        }

        &.time-total {
          margin-left: 0.5rem;
        }
      }

      mat-slider {
        flex: 1 0 auto;
      }
    }
  }

  .player-controls {
    width: 30vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .queue-button {
      margin-right: 0.5rem;
    }

    .volume {
      display: flex;
      align-items: center;

      .volume-icon {
        margin-right: 0.25rem;
      }
    }
  }
}
