<h1 mat-dialog-title>Queue</h1>

<div mat-dialog-content class="content">
  <ng-scrollbar [visibility]="'hover'" class="scrollbar">
    <mat-table #table [dataSource]="queue" class="table">

      <!-- Title Column -->
      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.title}}</mat-cell>
        <mat-footer-cell *matFooterCellDef>{{queue.length}} Tracks</mat-footer-cell>
      </ng-container>

      <!-- Artist Column -->
      <ng-container matColumnDef="artist_name">
        <mat-header-cell *matHeaderCellDef>Artist</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.artistName}}</mat-cell>
        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
      </ng-container>

      <!-- Album Column -->
      <ng-container matColumnDef="album_title">
        <mat-header-cell *matHeaderCellDef>Album</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.albumTitle}}</mat-cell>
        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
      </ng-container>

      <!-- Duration Column -->
      <ng-container matColumnDef="duration">
        <mat-header-cell *matHeaderCellDef>Duration</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.duration | duration}}</mat-cell>
        <mat-footer-cell *matFooterCellDef>{{getTotalDuration() | duration}}</mat-footer-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
      <mat-row class="row" *matRowDef="let row; columns: displayedColumns;" matRipple></mat-row>
      <mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></mat-footer-row>

    </mat-table>
  </ng-scrollbar>
</div>

<div mat-dialog-actions>
  <button mat-raised-button [mat-dialog-close]="true" color="warn" (click)="clear()">Clear</button>
  <button mat-raised-button mat-dialog-close cdkFocusInitial (click)="close()">Close</button>
</div>
