.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: -0.5rem;

  .artist-card {
    margin: 0.5rem;
    height: calc(275px - 2rem);
    cursor: pointer;

    @media only screen and (max-width: 650px) {
      height: calc(225px - 2rem);
    }

    &:hover {
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

      .button-add, .button-shuffle {
        display: block;
      }
    }

    .button-add {
      display: none;
      position: absolute;
      bottom: 4rem;
      right: 1.5rem;
    }
  }

  .artist-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 0.25rem;

    @media only screen and (max-width: 650px) {
      width: 150px;
      height: 150px;
    }
  }

  .image-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 150px;
    color: grey;

    @media only screen and (max-width: 650px) {
      font-size: 100px;
    }

    p {
      padding: 0;
      margin: 0;
    }
  }

  .artist-name {
    position: relative;
    bottom: -1rem;

    font-size: large;
    font-weight: bold;
    text-align: center;
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    @media only screen and (max-width: 650px) {
      font-size: medium;
      width: 150px;
    }
  }
}

.list-container {

  .artist-card {
    display: flex;
    cursor: pointer;

    &:hover {
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

      .button-add {
        display: block;
      }
    }

    .spacer {
      flex: 1 1 auto;
    }

    .button-add {
      display: none;
      margin-right: 1rem;
    }
  }

  .artist-card + .artist-card {
    margin-top: 0.5rem;
  }

  .artist-image {
    width: 40px;
    height: 40px;
    border-radius: 2px;
  }

  .image-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;
    color: grey;

    p {
      padding: 0;
      margin: 0;
    }
  }

  .artist-name {
    position: relative;
    top: 0.7rem;
    margin-left: 1rem;
    font-size: large;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
