.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;

  .divider {
    margin: 0 0.5rem;
  }

  .link {
    color: inherit;
    text-decoration: none;

    &:hover
    {
      color: inherit;
      text-decoration: none;
      cursor: pointer;
    }
  }
}
