.content {
  height: 65vh;
}

.mat-footer-row, mat-header-row {
  font-weight: bold;
}

.mat-column-duration {
  max-width: 75px;
  text-align: right;
}

.mat-dialog-actions {
  justify-content: flex-end;
}
